@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Regular'), local('Robotoregular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto-Medium'), local('Robotomedium'),
    url('../fonts/Roboto-Medium.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto-Bold'), local('Robotobold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto-Black'), local('Robotoblack'),
    url('../fonts/Roboto-Black.woff2') format('woff2');
    font-display: swap;
}






