@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:ital,wght@0,400;0,500;0,700;1,900&display=swap');

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto-Regular'), local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto-Medium'), local('Roboto-Medium'),
    url('../fonts/Roboto-Medium.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto-Bold'), local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.ttf') format('ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto-Black'), local('Roboto-Black'),
    url('../fonts/Roboto-Black.ttf') format('ttf');
}






