.footer {
    padding: 45px 0;
    background: #2F324B;
}


.footer__container {
    max-width: 1200px;
    height: 68px;
}


.phone_m {
    display: none;
}


.footer__logo {
    margin-right: 19px;
}


.footer__list {
    width: 1200px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.item_left {
    width: 127px;
    height: 32px;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    margin-right: 301px;
}


.item_center {
    margin-right: 304px;
}

.footer__item {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}


.list-mini {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.phone {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;;
}


.phone2 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}


@media (max-width: 1280px) {
    .footer__container {
        width: 100%;
    }

    .footer__list {
        width: 100%;
    }
}



@media (max-width: 1024px) {
    .footer__container {
        max-width: 964px;
        max-height: 127px;
    }

    .footer__list {
        width: 964px;
        height: 60px;
        margin: 0 auto;
    }
    .logo {
        width: 60px;
        height: 60px;
        margin-right: 19px;
    }
    .item_left {
        margin-right: 194px;
    }
    .item_center {
        margin-right: 214px;
    }



    .footer__phone {
        font-weight: 400;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
    }
    .footer__phone2 {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
    }
}


@media (max-width: 768px) {
    .footer__container {
        width: 100%;

    }

    .footer__list {
        width: 100%;


    }
}

@media (max-width: 480px) {
    .footer__container {
        width: 100%;

    }

    .footer__list {
        width: 100%;


    }
}

@media (max-width: 320px) {
    .footer {
        padding-top: 25px;
    }

    .footer__container {
        width: 100%;
        height: 127px;
    }

    .footer__list {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .logo {
        margin-right: 20px;
    }

    .item_left {
        width: 88px;
        font-weight: 500;
        font-size: 8px;
        line-height: 11px;
        color: #FFFFFF;
        margin-right: 130px;
    }

    .phone_m {
        display: inherit;
    }

    .item_center {
        order: 1;
        width: 100%;
        height: 47px;
        text-align: center;
        padding: 15px 0;
        background-color: #2A2C3F;
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .list-mini {
        display: none;
    }

}