.header {
    height: 732px;
    padding-top: 40px;
    padding-bottom: 120px;
    background-image: linear-gradient(#2F324BD8 85%, #2F324BD8 15%), url("../img/header.png");

}

.container__header {
    max-width: 1200px;
}


.container__menu {
    height: 68px;
    margin: 0 auto 120px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    flex-wrap: wrap;
}


.header__logo {
    width: 68px;
    height: 68px;
}


.phone_m {
    display: none;
}


.box {
    display: flex;
    flex-direction: column;
}


.container__content {
   /* height: 384px;*/
   max-width: 960px;
    text-align: center;
    margin: 0 auto;
}


.phone {
    font-weight: 400;
    font-size: 23px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 3px;
}


.phone2 {
    width: 132px;
    display: inline;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
   /* text-decoration: underline;*/
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 2px;
    margin: 0 auto;
}


.title {
    font-weight: 900;
    font-size: 52px;
    line-height: 61px;
    text-align: center;
    color: rgba(255, 255, 255, 0.86);
    margin-bottom: 35px;
}


.text {
    font-weight: 400;
    font-size: 22px;
    line-height: 31px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 90px;
}


.text_m {
    display: none;
    height: 77px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 54px;
}


.header__btn{
    width: 200px;
    height: 48px;
    background: #15A9CB;
    color: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
    border-radius: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}


@media (max-width: 1280px) {
    .container__header {
    }

    .container__menu {
    }

    .title {
    }

    .text {
    }
}


@media (max-width: 1024px) {
    .header {
        height: 528px;
        padding: 26px 0 70px 0;
    }

    .container__header {
        max-width: 964px;
        height: 453px;
        display: flex;
        flex-wrap: wrap;
    }

    .container__menu {
        width: 100%;
        height: 60px;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto 70px auto;
    }

    .header__logo {
        width: 60px;
        height: 60px;
    }

    .container__content {
        width: 780px;
    }

    .title {
        font-weight: 900;
        font-size: 40px;
        line-height: 47px;
        margin-bottom: 27px;
    }

    .text {
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 60px;
    }

    .header__btn {
        width: 202px;
        height: 48px;
    }
}


@media (max-width: 768px) {
    .container__header {
    }

    .container__menu {
    }

    .title {
    }

    .text {
    }
}


@media (max-width: 480px) {
    .header {
    }

    .container__header {
    }

    .container__header {
    }

    .container__menu {
    }

    .container__content {
    }

    .title {
    }

    .text {
    }
}


@media (max-width: 320px) {
    .header {
        height: 441px;
        padding: 15px 0 65px 0;
    }

    .container__header {
        max-width: 290px;
        height: 361px;
    }

    .container__menu {
        height: 30px;
        margin: 0 auto 65px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container__content {
        height: 266px;
        text-align: center;
        margin: 0 auto;
    }

    .box {
        display: none;
    }

    .header__logo {
        width: 30px;
        height: 30px;
    }

    .phone_m {
        display: inherit;
        width: 24px;
        height: 24px;
    }

    .title {
        font-weight: 900;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        color: #FFFFFFDB;
        margin-bottom: 23px;
    }

    .text {
        display: none;
    }

    .text_m {
        display: inherit;
    }

    .btn {
        width: 160px;
        height: 38px;
        background: #15A9CB;
        box-shadow: 0px 4px 25px rgba(21, 169, 203, 0.3);
        border-radius: 50px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }
}